body {
  font-family: sans-serif;
}

.titulo-carrito-compras {
  display: flex;
  align-items: center;
  gap: 8px;
}

#listaProductos {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: stretch;
}

#listaProductos div {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid gray;
  padding: 8px;
  gap: 6px;
}

#listaProductos div span {
  flex: 1;
}
